<form *ngIf="inputOpened" class="urlInput" [formGroup]="urlForm">
  <mat-form-field appearance="outline"
                  [hideRequiredMarker]="true"
                  [subscriptSizing]="'dynamic'">
    <input matInput
           formControlName="url"
           placeholder="https://"
           [type]="'url'" minlength="3" [size]="10">
    <button mat-icon-button matSuffix
            *ngIf="urlForm.value?.url?.length! < 3"
            (click)="switchInput()">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-icon-button matSuffix
            *ngIf="urlForm.value?.url?.length! >= 3"
            (click)="urlForm.reset()">
      <mat-icon>undo</mat-icon>
    </button>
    <button mat-icon-button matSuffix
            *ngIf="urlForm.value?.url?.length! >= 3"
            (click)="submit()">
      <mat-icon>save</mat-icon>
    </button>
  </mat-form-field>
</form>


