<form *ngIf="inputOpened" class="urlInput" [formGroup]="urlForm">
  <input formControlName="url"
         placeholder="https://"
         [type]="'url'" minlength="3" [size]="10">
  <button mat-icon-button matSuffix
          *ngIf="urlForm.value?.url?.length! <= 3"
          (click)="switchInput()">
    <mat-icon class="available">close</mat-icon>
  </button>
  <button mat-icon-button matSuffix
          *ngIf="urlForm.value?.url?.length! > 3"
          (click)="urlForm.reset()">
    <mat-icon class="available">undo</mat-icon>
  </button>
  <button #saveButton mat-icon-button matSuffix
          *ngIf="urlForm.value?.url?.length! > 3"
          (click)="submit()">
    <mat-icon>save</mat-icon>
  </button>
</form>


