button
  fill: #ababab
  color: #ababab
  margin: 3px
  transition: 0.5s
  &:hover
    fill: white
    transition: 0.5s
  &.active
    color: white
    fill: white

.urlInput
  margin-left: 1rem
  display: flex
  flex-direction: row
  align-items: center

input
  border: none
  fill: #ababab
  color: #ababab
  background-color: transparent
  padding: 0.5rem
  margin: 0.5rem
  &:focus
    outline: none
