@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap')
.header
  margin-left: 1rem
.appName
  color: #1b5e20
  font-size: 48px
  font-weight: bold
  font-family: 'Lobster', cursive
.subline
  margin-left: 0.5rem
  margin-right: 0.5rem
  opacity: 30%

