@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap')
.app
  display: grid
  grid-template-rows: [header-start] auto [header-end] 15px [content-start] auto [content-end]
  grid-template-columns: [left-side-start] auto [right-side-end]

.header
  grid-row: header-start / header-end
  grid-column: left-side-start / right-side-end
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: baseline
  justify-content: space-between
  width: auto
  margin-left: 1rem
  margin-right: 1rem

.appName
  color: #1b5e20
  font-size: 48px
  font-weight: bold
  font-family: 'Lobster', cursive

.separator
  grid-row: header-end / content-start
  grid-column: left-side-start / right-side-end
  align-self: center
  margin-left: 0.5rem
  margin-right: 0.5rem
  opacity: 30%

.content
  margin-top: 1em
  grid-row: content-start / content-end
  grid-column: left-side-start / right-side-end






