<button mat-mini-fab
        class="boldButton {{active['bold'] ? 'active' : ''}}"
        (click)="setBold()">B</button>
<button mat-mini-fab
        class="italicButton {{active['italic'] ? 'active' : ''}}"
        (click)="setItalic()">I</button>
<button mat-mini-fab
        class="linkButton {{active['link'] ? 'active' : ''}}"
        (click)="setLink()">L</button>
<button mat-mini-fab
        class="codeButton {{active['code-block'] ? 'active' : ''}}"
        (click)="setCodeBlock()">C</button>
<button mat-mini-fab
        class="headerButton {{active['size'] == 'large' ? 'active' : ''}}"
        (click)="setHeader()">H</button>
<!--
<button class="ql-subHeader">
  <div class="custom-button">
    <svg viewBox="0 0 18 18">
      <text class='toolbar-text'
            transform="matrix(1 0 0 1 -2.181828e-04 17.232)"
            font-family="'Sanchez-Regular'" font-size="24px">H</text>
    </svg>
  </div>
</button>- -->
