<div *ngIf="!linkInputOpen" class="tooltip"
     [hidden]="currentSelection?.range == null"
     [style.left.px] = "currentSelection?.bounds?.left"
     [style.top.px] = "currentSelection?.bounds?.top">
  <mat-button-toggle-group appearance="legacy" multiple>
    <mat-button-toggle
      class="boldButton {{active['bold'] ? 'active' : ''}} {{active['code-block'] ? '' : 'available'}}"
      [disabled]="active['code-block']"
      (click)="setBold()">
      <mat-icon> format_bold</mat-icon>
    </mat-button-toggle>

    <mat-button-toggle
      class="italicButton {{active['italic'] ? 'active' : ''}} {{active['code-block'] ? '' : 'available'}}"
      [disabled]="active['code-block']"
      (click)="setItalic()">
      <mat-icon> format_italic</mat-icon>
    </mat-button-toggle>

    <mat-button-toggle
      class="headerButton {{active['size'] == 'large' ? 'active' : ''}} {{active['code-block'] ? '' : 'available'}}"
      [disabled]="active['code-block']"
      (click)="setHeader()">
      <mat-icon> title</mat-icon>
    </mat-button-toggle>

    <mat-button-toggle
      class="codeButton {{active['code-block'] ? 'active' : ''}}"
      (click)="setCodeBlock()">
      <mat-icon> bubble_chart</mat-icon>
    </mat-button-toggle>

    <mat-button-toggle
      class="quoteButton {{active['list'] == 'ordered' ? 'active' : ''}}"
      (click)="setOrderedList()">
      <mat-icon> format_list_bulleted</mat-icon>
    </mat-button-toggle>

    <mat-button-toggle
      class="quoteButton {{active['list'] == 'bullet' ? 'active' : ''}}"
      (click)="setBulletList()">
      <mat-icon> format_list_numbered</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<!--
<quill-link></quill-link>-->

