
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Literas-primary: mat.define-palette(mat.$deep-purple-palette, 500, 50, 700, 900);
$Literas-accent: mat.define-palette(mat.$grey-palette, 500, 50, 700, 900);

// The warn palette is optional (defaults to red).
$Literas-warn: mat.define-palette(mat.$pink-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Literas-theme: mat.define-light-theme((
  color: (
    primary: $Literas-primary,
    accent: $Literas-accent,
    warn: $Literas-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Literas-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
